<mat-card>
  <mat-card-title>
    Path
  </mat-card-title>
  <div>
    <mat-accordion *ngIf="path !== undefined">
      <li *ngFor="let place of path.place">
        <mat-expansion-panel
          [expanded]="false"
          (opened)="panelOpenState2 = true"
          (closed)="panelOpenState2 = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <p>{{place.name}}</p>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p><span>Id: </span>{{place.id}}</p>
        </mat-expansion-panel>
      </li>
    </mat-accordion>
  </div>
</mat-card>
