<div class="src-card">
  <mat-card>

    <mat-card-title>
      Select Source
    </mat-card-title>

    <div>
      <mat-accordion>
        <li *ngFor="let gate of gates">
          <mat-expansion-panel
            [expanded]="false"
            (opened)="panelOpenState2 = true"
            (closed)="panelOpenState2 = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <p>Id: {{gate.id}}</p>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p><span>Name: </span>{{gate.name}}</p>
            <p><span>Type: </span>{{gate.type}}</p>
          </mat-expansion-panel>
        </li>
      </mat-accordion>
    </div>
  </mat-card>
</div>

<div class="dst-card">
  <mat-card>

    <mat-card-title>
      Select Destination
    </mat-card-title>

    <div>
      <mat-accordion>
        <li *ngFor="let gate of gates">
          <mat-expansion-panel
            [expanded]="false"
            (opened)="panelOpenState2 = true"
            (closed)="panelOpenState2 = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <p>Id: {{gate.id}}</p>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p><span>Name: </span>{{gate.name}}</p>
            <p><span>Type: </span>{{gate.type}}</p>
          </mat-expansion-panel>
        </li>
      </mat-accordion>
    </div>
  </mat-card>
</div>
