li {
  margin: 10px 10px 15px;
  list-style: none;
}

p {
   text-align: center;
   width: 100%;
}

.row {
  text-align: center;
}

mat-form-field {
  margin: 0 5px;
}

mat-card-title {
  text-align: center;
}

mat-expansion-panel.selected {
  background-color: lavender;
}

mat-card {
  margin: 2%;
}

.vehicle{
  width: 80%;
  display: inline-block;
}

.search {
  width: 20%;
  display: inline-block;
}

.button-container, .search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0 5px;
}

h5 {
  text-align: center;
}

li.mat-list {
  display: inline;
  margin: 0 2px;
}

@media screen and (max-width: 991px) {
  .vehicle, .search {
    margin-bottom: 10px;
    float: none;
    width: 100%;
  }
}
